# Compiled Apertium binaries
*.bin
*.hfst
*.hfstol
*.automorf
*.autogen
*.autobil
*.autolex
*.autotrans
*.mode

# Build files
*.lo
*.la
*.o
.deps/
.libs/

# Autotools generated
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
stamp-h1
